services:
  bot:
    build: .
    container_name: telegram-langbot
    depends_on:
      - libretranslate
      - db
    env_file:
      - ./.env
      
    networks:
      - botnet
  db:
    image: postgres:16-alpine
    container_name: langbot-db
    restart: always
    ports:
      - '5432:5432'
    env_file:
      - ./.env
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - botnet
  libretranslate:
    image: libretranslate/libretranslate
    container_name: libretranslate
    ports:
    - "5000:5000"
    environment:
    - LT_LOAD_ONLY=en,es,fr,de,it,ja
   

    networks:
      - botnet


networks:
  botnet:
    driver: bridge

volumes:
  db_data: