services:
  bot:
    build: .
    container_name: telegram-langbot
    restart: always
    depends_on:
      - db
    env_file:
      - ./.env
      
    networks:
      - botnet
  db:
    image: postgres:16-alpine
    container_name: langbot-db
    restart: always
    ports:
      - '5432:5432'
    env_file:
      - ./.env
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - botnet

networks:
  botnet:
    driver: bridge

volumes:
  db_data: